body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

a#link_login:hover {color: transparent; background-color: transparent;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.font_title {
  color:black; font-size:30px; font-family: Georgia,Serif;Times;
}

.font_signout {
  color:black; font-size:14px; font-family: Georgia,Serif;Times;
}

.font_title_stats {
  color:#444444; font-size:12px; font-family: Georgia,Serif;Times
}

.font_new_entry {
  font-family: Georgia,Serif;Times;
}

.box_watermark {
  position:absolute; top:0px; left:0px; color:#EEEEEE; font-size:256px; font-family: Georgia,Serif;Times;
}

.box_titlebar {
  top:0px; 
  left: 0px; 
  width:100%; 
  height:80px; 
  background-color:white;
}

.box_titlebar_row_1{
  position:relative; 
  top:10px; 
  left:10px; 
  height: 40px;
}

.box_titlebar_row_2{
  position:relative; 
  top:0px; 
  left:10px; 
  height: 16px;
}

.box_titlebar_divider{
  position:relative; 
  top:0px; 
  left:0px; 
  width:100%; 
  height:10px; 
  background-color:black;
}

.box_bottom_divider{
  position:relative; top; 0px; left:0px; width:100%; height:10px; background-color:black;
}

.box_entry_list{
  position:relative; 
  top:0px; 
  width:50%; 
  height:500px; 
  background-color:white; 
  overflow-x: hidden; 
  overflow-y:scroll;
}

.box_entry_new{
  position:relative; 
  overflow:hidden; 
  border:0px black solid; 
  top:0px; 
  width:100%; 
  left:0px; 
  height:20px; 
  background-color:#EEEEEE;
}

.box_entry_new_title{
  height:20px; 
  width:100%; 
  color:black; 
  background-color:#CCCCCC; 
  font-family: Georgia,Serif;Times;
}

.box_entry_log{
  position:relative; 
  top:0px; 
  width:100%; 
  left:0px; 
  height:75px; 
  border:1px #777777 dashed; 
  background-color:white;
}

.box_entry_log_top_left{
  position:relative; top:5px; height:30px; left:0px; width:75%; font-family: Georgia,Serif;Times; font-size:24px; color:black;
}

.box_entry_log_top_right{
  position:relative; top:-25px; height:30px; left:75%; width:25%; font-family: Georgia,Serif;Times; font-size:24px; color:#777777; text-align:right;
}

.box_entry_log_bottom_left{
  position:relative; top:-25px; height:30px; left:0px; width:75%; font-family: Georgia,Serif;Times; font-size:12px; color:#777777;
}

.box_entry_log_bottom_right{
  position:relative; top:-55px; height:30px; left:75%; width:25%; font-family: Georgia,Serif;Times; font-size:12px; color:#777777; text-align:right;"
}

.box_log_empty{
  font-family: Georgia,Serif;Times; 
  font-size:24px; 
  color:black; 
  text-align:center;
}

.box_graphs{
  position:relative; top:-510px; left:50%; width:50%; height:500px; background-color:white; overflow:hidden; overflow-x: hidden; overflow-y:scroll;
}