<div style="position:relative; top:100px; width:500px; margin-left:auto; margin-right:auto;">
	<image src="images/writealot.jpg">
</div>
<div style="position:relative; top:100px; width:500px; margin-left:auto; margin-right:auto; font-size: 24px; line-height: 36px; font-family:'Times New Roman';">
	Writealot is simple tool to track your writing over a period of time. Chart your progress alone or with friends.
</div>
<div style="position:relative; top:100px; width:500px; margin-left:auto; margin-right:auto; font-size: 24px; line-height: 36px; font-family:'Times New Roman';">
	<br><center><a id="link_login" onclick="javascript:authenticate()" border=0 style="color:transparent;"><image border=0 src="http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png"></a></center>
</div>

<script type="text/javascript">
	
	function authenticate()
	{
		var offset = calc_local_timezone_offset();
		
		window.location.href = 'users/login_browserstats?timezone_offset=' + offset;
	}
	
	function calc_local_timezone_offset()
	{	
		<% gmttime = Time.now %>
		<% local = gmttime.getlocal %>
		<% offset = local.gmt_offset %>
		<% offset = offset / -3600 %>
		<%= "var zoneServer = #{offset};" %>

		var myDate = new Date();
		var zoneLocal = myDate.getTimezoneOffset() / 60; 
			
		return ( zoneServer - zoneLocal );
	}
	
</script>